* {
  font-family: "JetBrains Mono", monospace;
  color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  background: repeating-linear-gradient(
    45deg,
    #08baff,
    #08baff 150px,
    #2099d8 150px,
    #2099d8 300px
  );
}

.item-container {
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 120px auto;
}
.title {
  position: fixed;
  max-width: 400px;
  z-index: 999;
}

.logo {
  display: flex;
  justify-content: center;
}

.title img {
  width: 100%;
}

.item {
  border: 2px solid #fff;
  backdrop-filter: blur(10px);
  margin-bottom: 25px;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  display: grid;
  font-size: 24px;
  place-items: center;
  text-align: center;
}

.char-img {
  width: 125px;
  border-radius: 50%;
  margin: 30px;
}

.char-id {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 30px 0 10px;
}

.char-species {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  padding: 8px 0;
}
.char-status {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  padding: 8px 0;
}
.char-gender {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  padding: 8px 0;
}
.char-origin {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  padding: 8px 0;
}

.char-location {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  padding: 8px 0;
}

.char-name {
  font-weight: bold;
  border-bottom: 1px solid #fff;
}
.item:hover {
  box-shadow: 2px 2px 12px #fff;
}
